*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: 'Raleway';
}
html {
	scroll-behavior: smooth;
	margin-left: calc(100vw - 100%);
  margin-right: 0; 
}
body {
	background-color: #131313;
	padding: 100px 0;
}
.loader {
	width: 48px;
	height: 48px;
	border: 5px solid #fff;
	border-bottom-color: transparent;
	border-radius: 50%;
  display: block;
  margin: 0 auto;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
